name: Python build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format:
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: run black
        uses: psf/black@stable

  lint:
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      - name: run ruff
        run: ruff check --output-format=github .

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python: ["3.12"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python }}
          auto-activate-base: false
      - name: install dependencies
        run: ./prepare-env.sh ${{ matrix.python }} gh-workflow-env
      - name: run unit tests
        run: |
          eval "$(conda shell.bash hook)"
          conda activate gh-workflow-env
          pytest --cov-report=term-missing --cov-append
